.btn-outline-warning {
    color: #8b6d08da;
    /* background-color: #eebd1cda; */
    /* border-color: #d1a30ada; */
}

/* .btn-outline-info:hover {
    color: #fff;
    background-color: #d1a30ada;
    border-color: #d1a30ada;
} */